* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui;
    overflow-x: hidden;
    width: 100%;
    max-width: max-content;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 6rem;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav li select {
    border: none;
    background: transparent;
    font: inherit;
    cursor: pointer;
}

nav .menu {
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;

}

@media (max-width: 1090px) {

    .nav-links {
        display: none;
    }

    nav .menu {
        display: block;
    }
}

@media (max-width: 663px) {
    nav {
        padding: 2rem 1rem;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
}

.text-content {
    flex: 1 1 350px;
    padding: 4rem 0rem 0rem 4rem;
    align-items: start;
    justify-content: start;
}

.image-content {
    padding: 1rem;
    display: flex;
    flex: 1 1 350px;
    align-items: center;
    justify-content: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.playstore {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    gap: 20px;
    margin: 1rem 0rem;
}

.playstore img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.text-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.4;
}

.text-content h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.4;
    margin: 1rem 0rem;
}

@media (max-width: 663px) {
    .text-content {
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content h3 {
        font-size: 1.5rem;
    }
}


.animation {
    width: 100%;
}

.logo-container {
    overflow: hidden;
    margin: 100px;
}

.logo-track {
    display: flex;
    animation: scroll 10s linear infinite;
}

.logo-track img {
    padding: 0 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.features {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.features h1 {
    font-size: clamp(1.75rem, 4vw, 2.5rem);
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 100px;
}

.features p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: lighter;
    max-width: 400px;
    margin: 0 auto;
}

.first-phone {
    margin-top: 100px;
    padding: 0rem 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;
}

.first-phone .phone-image {
    display: flex;
    flex: 1 1 350px;
    justify-content: center;
    margin-top: 50px;
}

.first-phone .phone-image img {
    width: 100%;
    height: auto;
}

.first-phone .phone-content {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 70px;
}

.first-phone .phone-text {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.first-phone .phone-text img {
    height: auto;
}

.first-phone .phone-text div {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);

}

.first-phone .phone-text div h2 {
    margin: 0;
    font-weight: bold;
}

.first-phone .phone-text div p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 300;
    margin-top: 5px;
}

.second-phone {
    margin-top: 100px;
    padding: 0rem 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.second-phone .phone-image {
    display: flex;
    flex: 1 1 350px;
    justify-content: center;
    margin-top: 50px;
}

.second-phone .phone-image img {
    width: 100%;
    height: auto;
}

.second-phone .phone-content {
    flex: 1 1 350px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 70px;
}

.second-phone .phone-text {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.second-phone .phone-text img {
    height: auto;
}

.second-phone .phone-text div {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

.second-phone .phone-text div h2 {
    margin: 0;
    font-weight: bold;
}

.second-phone .phone-text div p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 300;
    margin-top: 5px;
}


.discount-main {
    width: 100%;
    padding: 1rem 2.5rem;
}

.discount {
    background-image: url(image/Line\ 1.png);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: #4F7EF7;
    border-radius: 24px;
    margin: 2rem;
}

.discount .discount-image {
    margin-top: -70px;
    padding: 0rem 2rem;
}

.discount .discount-image img {
    max-width: 350px;
    width: 100%;
    height: auto;
}

.discount .discount-content {
    flex: 1;
    padding: 5rem;
    color: white;
}

.discount .discount-content h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 700;
    margin-bottom: 20px;
}

.discount .discount-content p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: 500px;
    line-height: 1.6;
}

.discount .discount-content button {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    color: #4F7EF7;
    border: none;
    font-size: 1rem;
}

@media (max-width: 1073px) {
    .discount-main {
        width: 100%;
        padding: 1rem 0rem;
    }

    .discount .discount-content {
        padding: 1rem;
    }
}

@media (max-width: 330px) {
    .discount .discount-image {
        margin-top: -20px;
    }
}

.customer {
    margin: 50px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.customer h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 100px;
}

.customer p {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: lighter;
    margin-bottom: 40px;
    max-width: 600px;
    margin: 0 auto 100px auto;
}

.customer-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.customer-grid .box {
    background: #4F7EF712;
    padding: 30px;
    text-align: left;
    font-size: 16px;
    border-radius: 20px;
    height: auto;
    max-width: 500px;
    width: 100%;
}

.customer-grid .box h2 {
    margin-top: 10px;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.customer-grid .box p {
    margin-top: 10px;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}

@media (max-width: 600px) {
    .customer-grid {
        grid-template-columns: auto;
    }
}

.last-content {
    margin: 150px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #4F7EF712;
    width: 100%;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
    gap: 40px;
}

.last-content .ls-img {
    flex: 1 1 400px;
    max-width: 600px;
    margin-top: -150px;
}

.last-content .ls-img img {
    width: 100%;
    height: auto;
}

.last-content .ls-text {
    flex: 1 1 400px;
    padding: 2rem;
    max-width: 600px;
}

.last-content .ls-text h1 {
    font-size: clamp(1.8rem, 4vw, 3.5rem);
}

.last-content .ls-text p {
    margin-top: 15px;
    font-size: clamp(1rem, 2.5vw, 1.5rem);

}

.last-content .ls-text img {
    display: flex;
    padding-top: 30px;
    max-width: 300px;
    width: 100%;
    height: auto;
}

@media (max-width: 839px) {
    .last-content .ls-img {
        margin-top: 0px;
    }
}

footer {
    background-color: #161639;
    color: white;
    width: 100%;
}

footer .main {
    display: flex;
    flex-wrap: wrap;
    padding: 90px 90px;
    gap: 50px;
    justify-content: space-between;
}

footer .first {
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
}

footer .first .flogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .first .flogo h1 {
    margin: 0;
    font-size: clamp(1.2rem, 3vw, 2rem);
}

footer .copy {
    margin-top: 20px;
    line-height: 1.5;
}

footer .copy img {
    margin-top: 20px;
    max-width: 250px;
    width: 100%;
    height: auto;
}

footer .second {
    display: flex;
    flex: 2 1 300px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
}

footer .second div {
    flex: 1 1 150px;
}

footer .second div p {
    margin: 10px 0;
}

footer .second div img {
    max-width: 200px;
    width: 100%;
}

@media (max-width: 350px) {
    footer .main {
        padding: 40px 40px;
    }
}